{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center mb-1">
                <h2 class="display-4 text-primary">Get in Touch</h2>
                <p class="lead">We'd love to hear from you!</p>
                <p class="mb-2">Reach out to us via email or phone for inquiries and assistance.</p>
            </div>
            <div class="bg-light p-4 rounded">
                <h3>Contact Information</h3>
                <ul class="list-unstyled mb-4">
                    <li><strong>Email:</strong> info@sexualhealthhub.com</li>
                    <li><strong>Phone:</strong> +254745689890</li>
                    <li><strong>Address:</strong> Street 12, Nairobi, Kenya</li>
                </ul>
                <h3>Send Us a Message</h3>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                    </div>
                    <br>
                    <a href="{% url 'index' %}"><button type="button" class="btn btn-primary btn-lg shadow-sm p-3 mb-5 mt=3">Send Message</button></a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
