{% extends 'base.html' %}

{% block title %}
   
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Contact Us</h3>
                </div>
                <div class="card-body">
                    <p>For inquiries and assistance, please use :</p>
                    <ul class="list-unstyled">
                        <li><strong>Email:</strong> info@sexualhealthhub.com</li>
                        <li><strong>Phone:</strong> +254745689890</li>
                        <li><strong>Address:</strong>Street 12, Nairobi, Kenya</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
