{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
<h1>Customers</h1>
<table class="table table-primary table-striped table-hover table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
    </tr>
  </thead>
  <tbody>
      {% if customers %}
      {% for customer in customers %}
      <tr>
      <td><a href="{% url 'customer_record' customer.id %}">{{ customer.id }}</a></td>
      <td>{{ customer.first_name }}
      {{ customer.last_name }}</td>  
      <td>{{ customer.email}}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.city }}</td>
      </tr>
      {% endfor %}
   {% endif %}
   {% else %}
  </tbody>
</table>

<h1>Login</h1>
</br>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
</br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endif %}
{% endblock  %}